@import '../scss/variable.scss';

.header-wrapper {
    background-color: $fifthy-color;
    padding: 15px 45px;
    .base-title-logo {
        width: 192px;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 100px;
        }
        .title-head {
            margin: 0;
            font-size: 18px;
            color: $sixthy-color;
            line-height: 35px;
        }
    }
}